<div class="room" [ngClass]="room ? 'showroom' : 'room'">
  <i
    class="far fa-times-circle close"
    [ngClass]="room ? 'showclose' : 'close'"
    (click)="room = !room"
  ></i>
  <div class="title">
    Waiting for players...
    <div class="subtitle">
      Send the room code to your friends to start the party!
    </div>
  </div>

  <div class="flex-row left">
    <h2>Room code:</h2>
  </div>
  <div class="flex-row left">
    <div class="flex-item-10">
      <div class="card-button roomcode">{{ roomcode }}</div>
    </div>
    <div class="flex-item-10 right">
      <button class="card-button">Copy</button>
    </div>
  </div>
  <div class="flex-row left">
    <h2>Players in room:</h2>
  </div>
  <div class="flex-row left">
    <ul>
      <li class="players" *ngFor="let player of players">{{ player }}</li>
    </ul>
  </div>
  <div class="flex-row">
    <div class="flex-item-4">
      <button
        class="card-button"
        (click)="addPlayer(newPlayer.value)"
        (click)="start = !start"
        (click)="room = !room"
        (click)="toggleGame()"
      >
        Start game
      </button>
    </div>
  </div>
</div>
