

	<i
		class="far fa-times-circle close"
		[ngClass]="this.viewService.getState('room') ? 'showclose' : 'close'"
		(click)="this.viewService.setState('room', false)"
	></i>
	<div class="title">
		Waiting for players...
		<div class="subtitle">Send the room code to your friends to start the party!</div>
	</div>

	<div class="flex-row left">
		<h2>Room code:</h2>
	</div>
	<div class="flex-row left">
		<div class="flex-item-10">
      <input type="text" class="card-button roomcode" value="{{ this.sessionService.roomCode }}" #roomcode>

			<!-- <div class="card-button roomcode">"{{ this.sessionService.roomCode }}"</div> -->
		</div>
		<div class="flex-item-10 right">
      <button class="card-button" (click)="this.sessionService.copyInputMessage(roomcode)" value="Copy" >Copy</button>
		</div>
  </div>
  <div class="flex-row">
		<div class="flex-item-4">
			<button class="card-button" (click)="this.viewService.setState('game', true)">Start game</button>
		</div>
  </div>
	<div class="flex-row left">
		<h2>Players in room:</h2>
	</div>
	<div class="flex-row left">
		<ul>
			<li class="players" *ngFor="let player of this.sessionService.players">{{ player }}</li>
		</ul>
	</div>


	<div class="flex-row left">
    <h2>Included decks:</h2>
  </div>
  <div class="flex-row left">
    <app-checkbox-list
    [data]="this.list"
    (selectionChange)="updateSelected($event)"
    ></app-checkbox-list>
	</div>


<div class="togglechat">
  <i [ngClass]="this.viewService.getState('chat') ? 'far fa-times-circle' : 'fas fa-comments'" (click)="this.viewService.toggleState('chat')"></i>
</div>

<div class="togglevoice">
  <i [ngClass]="this.viewService.getState('voice') ? 'far fa-times-circle' : 'fab fa-discord'" (click)="this.viewService.toggleState('voice')"></i>
</div>

