<div class="container">
  <div class="grid-row left">
    <app-black-card [text]="blackCard.text" [pick]="blackCard.pick" class="grid-item">  
    </app-black-card>
    <div class="grid-item">
      <div id="whiteCard" class="card white-card greybg">
        <div class="card-inner">
        <div class="mat-card-title">
          waiting on player...
        </div>
      </div>
      </div>
    </div>
    <div class="grid-item">
      <div id="whiteCard" class="card white-card greybg">
        <div class="card-inner">
        <div class="mat-card-title">
          waiting on player...
        </div>
      </div>
      </div>
    </div>
    <div class="grid-item">
      <div id="whiteCard" class="card white-card greybg">
        <div class="card-inner">
        <div class="mat-card-title">
          waiting on player...
        </div>
      </div>
      </div>
    </div>
    <div class="grid-item">
      <div id="whiteCard" class="card white-card greybg">
        <div class="card-inner">
        <div class="mat-card-title">
          waiting on player...
        </div>
      </div>
      </div>
    </div>
  </div>
</div>



<app-hand
[cards]="whiteCards"
></app-hand>

