<p>white-card works!</p>
<div class="whiteContainer">
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>

    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>
    <div id="whiteCard" class="custom-card white-card">
        <div class="mat-card-title">
            {{ this.text }}
        </div>
    </div>   
</div>