<div *ngIf="game === false" class="blackbg">
  <div class="lobby">


    <div class="lobby-title">
      <div class="title">Humanity Against Cards
        <div class="subtitle">
          A horrible game for party people.
        </div>
      </div>
    </div>


    <div class="flex-row center">

      <div class="flex-item-4">
        <button class="card-button" (click)="start = !start">
          Start game
        </button>
      </div>
      <div class="flex-item-4">
        <button class="card-button" (click)="start = !start">
          Join game
        </button>
      </div>
      <div class="flex-item-4">
        <button class="card-button" (click)="toggleGame()">
          Random game
        </button>
      </div>
      <div class="flex-item-4">
        <button class="card-button" (click)="rules = !rules">
          Game Rules
        </button>
      </div>

    </div>

  </div>



  <!-- <div class="start"  [ngClass]="start ? 'showstart' : 'start'">  
  <div class="title">
    Cards Against Humanity Rules
  </div>
</div> -->

  <div class="start" [ngClass]="start ? 'showstart' : 'start'">
    <i class="far fa-times-circle close" [ngClass]="start ? 'showclose' : 'close'" (click)="start = !start"></i>
    <div class="title">
      Creating Game...
      <div class="subtitle">
        Send the room code to your friends to start the party!
      </div>
    </div>

    <div class="flex-row left">
      <div class="flex-item-4">
        <input #newPlayer (keyup.enter)="addPlayer(newPlayer.value)" placeholder="Your name"
          (blur)="addPlayer(newPlayer.value); newPlayer.value='' ">
      </div>
      <div class="flex-item-4">
        <button class="card-button" (click)="addPlayer(newPlayer.value)"(click)="room = !room">
          <div class="button-inner">
            Create room
          </div>
        </button>
      </div>
    </div>
    <div class="flex-row left">
      <ul>
        <li [ngClass]="private ? 'check' : 'li'"  (click)="private = !private">Private Room</li>
      </ul>
    </div>
  </div>


  <div class="room" [ngClass]="room ? 'showroom' : 'room'">
    <i class="far fa-times-circle close" [ngClass]="room ? 'showclose' : 'close'" (click)="room = !room"></i>
    <div class="title">
      Waiting for players...
      <div class="subtitle">
        Send the room code to your friends to start the party!
      </div>
    </div>
    
    <div class="flex-row left">
      <h2>Room code:</h2>
    </div>
    <div class="flex-row left">
      <div class="flex-item-10">
        <div class="card-button roomcode">
          KUTT</div>
      </div>
      <div class="flex-item-10 right">
        <button class="card-button" (click)="addPlayer(newPlayer.value)" (click)="room = !room" (click)="toggleGame()">
          <div class="button-inner">
            Copy
          </div>
        </button>
      </div>
    </div>
    <div class="flex-row left">
      <h2>Players in room:</h2>
    </div>
    <div class="flex-row left">
      <ul>
        <li class="players" *ngFor="let player of players">{{player}}</li>
      </ul>
    </div>
      <div class="flex-row">
        <div class="flex-item-4">
          <button class="card-button" (click)="addPlayer(newPlayer.value)" (click)="room = !room"
            (click)="toggleGame()">
            <div class="button-inner">
              Start game
            </div>
          </button>
        </div>
      </div>
    <div class="flex-row">

    </div>
  </div>




  <div class="rules scroll" [ngClass]="rules ? 'showrules' : 'rules'">
    <i class="far fa-times-circle close" [ngClass]="rules ? 'showclose' : 'close'" (click)="rules = !rules"></i>
    <div class="title">
      Cards Against Humanity Rules
    </div>
    <h2>Basic Rules</h2>
    <p>To start the game, each player draws ten White Cards. <br><br>
      The person who most recently pooped begins as the Card Czar and plays a Black Card. The Card Czar reads the
      question
      or fill-in-the-blank phrase on the Black Card out loud. <br><br>
      Everyone else answers the question or fills in the blank by passing one White Card, face down, to the Card Czar.
      <br><br>
      The Card Czar shuffles all of the answers and shares each card combination with the group. For full effect, the
      Card
      Czar should usually re-read the Black Card before presenting each answer. The Card Czar then picks the funniest
      play, and whoever submitted it gets one Awesome Point. <br><br>
      After the round, a new player becomes the Card Czar, and everyone draws back up to ten White Cards. </p>
    <h2>Pick 2</h2>
    <p>Some cards say PICK 2 on the bottom. <br><br>
      To answer these, each player plays two White Cards in combination. Play them in the order that the Card Czar
      should
      read them-the order matters. <br><br>
      If the Card Czar has lobster claws for hands, you can use paperclips to secure the cards in the right order. </p>
    <h2>Gambling</h2>
    <p>If a Black Card is played and you have more than one White Card that you think could win, you can bet one of your
      Awesome Points to play an additional
      White Card. <br><br>
      If you win, you keep your point. If you lose, whoever won the round gets the point you wagered. </p>
  </div>

</div>

<div *ngIf="game === true" class="endholder">
  <button mat-raised-button class="endbutton" (click)="toggleGame()">
    End game
  </button>
  <ul>
    <li *ngFor="let player of players">{{player}}</li>
  </ul>
</div>

<div *ngIf="game" class="game">
  <app-game></app-game>
</div>