// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CahQuickApp-primary: mat-palette($mat-indigo);
$CahQuickApp-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CahQuickApp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$CahQuickApp-theme: mat-light-theme(
  $CahQuickApp-primary,
  $CahQuickApp-accent,
  $CahQuickApp-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($CahQuickApp-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: darken($color: #757575, $amount: 0);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*{
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

.container {
  margin: 0 auto;
  padding: 5px;
}

.grid-row {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.grid-item {
  flex-basis: 10%;
  width: 10%;
  flex: auto;
  -ms-flex: auto;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  display: inline-block;
}

.grid-item::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.grid-item-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media (max-width: 1200px) {
  .grid-item {
    flex-basis: 20%;
    width: 20%;
  }
}

@media (max-width: 800px) {
  .grid-item {
    flex-basis: 25%;
    width: 25%;
  }
}

@media (max-width: 600px) {
  .grid-item {
    flex-basis: 33.33%;
    width: 33.33%;
  }
  .mat-card-title {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .grid-item {
    flex-basis: 50%;
    width: 50%;
  }
  .mat-card-title {
    font-size: 14px;
  }
}

// .grid-item-wrapper {
//   -webkit-box-sizing: initial;
//   -moz-box-sizing: initial;
//   box-sizing: initial;
//   background: #aaa;
//   margin: 0;
//   height: 100%;
//   width: 100%;
//   overflow: hidden;
//   -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
//   transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
//   position: relative;
// }

// .grid-item:hover .grid-item-wrapper {
//   padding: 2% 2%;
//   margin: -2% -2%;
// }

// .card{
//     background-color: rgb(22, 22, 22);
//     width: 100rem;
//     height: 20rem;
// }

// display: flex;
// justify-content: center;
// align-items: center!important;
// text-align: center!important;
// display: block;
// position: relative;

// .card-container{
//     padding:20px 0 10px 0;
//     text-align: center!important;
//     display: flex;
//     justify-content: center;
//     align-items: center;

// }

// .card{

// }

// .app-white-card{
//   display: none;
// }

// #blackCard{
//     display: inline-block!important;
// }

// #whiteCard{
//     display: inline-block!important;
// }

// /* The animation code */
// @keyframes whitecardanim {
//     from {background-color: red;}
//     to {background-color: yellow;}
//   }

// @keyframes whitecardanim {
//     from {position: relative;}
//     //to {position: absolute;}
//     // to {top: 100px;}
//     // to {left: 50px;}
//   }

// .card-container .card:not(:last-child) {
//   margin-right: 0;
// }

// .card.card-small {
//   height: 16px;
//   width: 168px;
// }

// .card-container .card:not(.highlight-card) {
//   cursor: pointer;
// }

// .card-container .card:not(.highlight-card):hover {
//   transform: translateY(-3px);
//   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
// }

// .card-container .card:not(.highlight-card):hover .material-icons path {
//   fill: rgb(105, 103, 103);
// }

// .card.highlight-card {
//   background-color: #1976d2;
//   color: white;
//   font-weight: 600;
//   border: none;
//   width: auto;
//   min-width: 30%;
//   position: relative;
// }

// .card.card.highlight-card span {
//   margin-left: 60px;
// }
