<div class="container100">
	<div class="transpbg" [ngClass]="this.viewService.getState('menu') ? 'showtranspbg' : 'transpbg'" (click)="this.viewService.toggleState('menu')"></div>

	<div class="menu" [ngClass]="this.viewService.getState('menu') ? 'showmenu' : 'menu'">
		<div class="flex-row left">
			<h2>Room code:</h2>
		</div>
		<div class="flex-row left">
			<div class="flex-item-10">
				<div class="card-button roomcode">{{ this.sessionService.roomCode }}</div>
			</div>
			<div class="flex-item-10 right">
				<button class="card-button">Copy</button>
			</div>

			<div class="flex-item-4">
				<button class="card-button" (click)="this.viewService.setState('rules', true)">Game Rules</button>
			</div>

			<div class="flex-item-4">
				<button class="card-button" (click)="this.viewService.setState('sure', true)">Quit</button>
			</div>
			<div class="flex-row left">
				<ul>
					<li [ngClass]="this.viewService.getState('istogglehand') ? 'check' : 'li'" (click)="this.viewService.toggleState('istogglehand')">
						Toggle button to show/hide cards in hand
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="pmenu" [ngClass]="this.viewService.getState('pmenu') ? 'showpmenu' : 'pmenu'">
		<ul class="playersul">
			<li class="playersli" *ngFor="let player of this.sessionService.players">{{ player }}</li>
		</ul>
		<ul class="scoresul">
			<li class="scoresli" *ngFor="let scores of this.sessionService.players">{{ scores }}</li>
		</ul>
	</div>

	<div *ngIf="this.viewService.getState('game')" class="game"></div>
</div>
